<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">

<head>
<title>Board Game Price Search in South Africa</title>
<script th:src="@{/js/search.js}"></script>
</head>

<body>

	<th:block layout:fragment="content">

		<div id="search-page" data-role="page">

			<div data-role="header" style="overflow: hidden;">
				<h1>Search</h1>
			</div>

			<div role="main" class="ui-content">
				<form class="ui-filterable">
					<input id="bg-search-input" type="search"
						placeholder="Search Board Games..." />
				</form>
				<ul id="bg-search-list" data-role="listview" data-inset="true"
					data-filter="true" data-input="#bg-search-input">
				</ul>
			</div>

			<div data-role="footer"></div>
		</div>

	</th:block>

</body>

</html>