body {
  padding-top: 20px;
}

.item-list {
  margin-top: 10px;
}

.item-name {
  font-size: 130%;
  font-weight: bold;
}

.item-price {
  text-align: right;
  font-size: 130%;
  font-weight: bold;
  white-space: nowrap;
  font-size: 130%;
}