body {
  padding-top: 20px;
}

.item-list {
	font-size:90%;
  margin-top: 10px;
}

.item-name {
  font-weight: bold;
}

.item-price {
  text-align: right;
  font-weight: bold;
  white-space: nowrap;
}